body {
  background-color: #111;
  color: white;
}

.cardDeck {
  width: 220px;
  height: 320px;
  background: url("./Assets/bg.jpeg");
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  border: 1px solid #333;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0px 0px 20px black;
}
